/Edge.class
/EdgeOLD.class
/InteractionGraph.class
/InteractionGraphOLD$1.class
/InteractionGraphOLD$2.class
/InteractionGraphOLD$3.class
/InteractionGraphOLD$4.class
/InteractionGraphOLD.class
/Node.class
